@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #3d3d3d;
}

table {
    border-collapse: collapse;
}

.header_fixed {
    height: 500px;
    overflow: auto;
    margin-top: 30px;
    border: 1px solid #dddddd;
}

.header_fixed h1 {
    text-align: center;
    top: 0;
    background-color: black;
    color: #e6e7e8;
    font-size: 20px;
    font-weight: 800;
}

.header_fixed thead th {
    position: sticky;
    top: 0;
    background-color: black;
    color: #e6e7e8;
    font-size: 15px;
    font-weight: 800;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}

td a {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
}

.pagination {
    display: inline;
}

.pagination a {
    color: #e6e7e8;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 4px;
}

.pagination a:hover {
    background-color: #44b478;
    cursor: pointer;
    border-radius: 5px;
}

.pop-upForm {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.pop-upForm button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.addUserForm {
    max-width: 300px;
    padding: 10px;
    background-color: #edeef1;
    margin-bottom: 100px;
    height: 100%;
}

.addUserForm button {
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: black;
    color: #e6e7e8;
    margin-top: 30px;
}

.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 10px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}